{{- if .Values.enabled }}
{{- $chartMetadata := dict "Chart" .Chart "Release" .Release }}
{{- $context := deepCopy . }}
{{- $labelParams := mergeOverwrite $chartMetadata (include "mozcloud.labelParams" . | fromYaml) }}
{{- $params := dict "configMaps" .Values.configMaps "context" $context }}
{{- /* Transform configMap names and data for preview environments, if enabled */}}
{{- $configMaps := include "mozcloud.configMap.formatter.preview" $params | fromYaml }}
{{- if $configMaps }}
{{- $_ := set $context "component_code" "configmap" -}}
{{- range $name, $config := $configMaps }}
{{- if gt (keys $config.data | len) 0 }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $name }}
  labels:
    {{- $params := dict "context" (mergeOverwrite (deepCopy $context) $labelParams) }}
    {{- $labels := include "common.labels" $params | fromYaml }}
    {{- $labels.labels | toYaml | nindent 4 }}
  {{- $params = dict "type" "configMap" }}
  {{- $annotations := include "common.annotations.argo" $params | fromYaml }}
  {{- if $annotations }}
  annotations:
    {{- $annotations | toYaml | nindent 4 }}
  {{- end }}
data:
  {{- range $key, $value := $config.data }}
  {{ $key }}: {{ $value | quote }}
  {{- end }}
{{- end }}
{{- end }}
{{- end -}}
{{- end -}}
