{{- if .Values.enabled }}
{{- $config_maps := .Values.configMaps }}
{{- if gt (keys $config_maps | len) 0 }}
{{- $helper_params := dict "configMaps" $config_maps }}
{{- $params := include "mozcloud.config.configMap" $helper_params | fromYaml }}
{{- $chart_metadata := dict "Chart" .Chart "Release" .Release "component_code" "configmap" }}
{{- $label_params := mergeOverwrite $chart_metadata (include "mozcloud.labelParams" . | fromYaml) }}
{{- $context_params := mergeOverwrite (. | deepCopy) (mergeOverwrite $params $label_params) }}
{{- include "common.configMap" $context_params }}
{{- end -}}
{{- end -}}
