{{- define "workload.deployment" -}}
{{- if .deployments }}
{{- $deployments := include "workload.config.deployments" . | fromYaml }}
{{- $files := .Files }}
{{- range $deployment := $deployments.deployments }}
{{- $volumes := dict }}
{{- /* Pre-populate volumes from all containers for annotation checksum calculation */}}
{{- range $container := $deployment.containers }}
  {{- range $volume := $container.volumes }}
    {{- if not (hasKey $volumes $volume.name) }}
      {{- $_ := set $volumes $volume.name $volume }}
    {{- end }}
  {{- end }}
{{- end }}
{{- /* Add nginx configmap volume if nginx is enabled */}}
{{- if ($deployment.nginx).enabled }}
  {{- $nginx_configmap_name := default (printf "%s-nginx" $deployment.name) ($deployment.nginx).configMap }}
  {{- $nginx_volume := dict "type" "configMap" }}
  {{- $_ := set $volumes $nginx_configmap_name $nginx_volume }}
{{- end }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ $deployment.name }}
  labels:
    {{- $deployment.labels | toYaml | nindent 4 }}
  {{- $params := dict "annotations" (default (dict) $deployment.annotations) "context" ($ | deepCopy) "type" "deployment" }}
  {{- $annotations := include "common.annotations" $params | fromYaml }}
  {{- if $annotations }}
  annotations:
    {{- $annotations | toYaml | nindent 4 }}
  {{- end }}
spec:
  selector:
    matchLabels:
      {{- $deployment.selectorLabels | toYaml | nindent 6 }}
  strategy:
    type: {{ default "RollingUpdate" $deployment.strategy }}
  template:
    metadata:
      {{- $otel_enabled := dig "otel" "enabled" true $deployment }}
      {{- $otel_container_names := default list ($deployment.otel).containers }}
      {{- $otel_auto_instrumentation_enabled := and $otel_container_names (dig "otel" "autoInstrumentation" "enabled" false $deployment) (($deployment.otel).autoInstrumentation).language }}
      {{- $params = dict "context" ($ | deepCopy) "otel" ($deployment.otel) "type" "deployment" }}
      {{- $annotations := include "common.annotations" $params | fromYaml }}
      {{- /* Add checksum annotation for configmaps to trigger rolling updates when configmap changes */}}
      {{- $configmap_checksums := dict }}
      {{- if gt (keys $volumes | len) 0 }}
        {{- range $volume_name, $volume_config := $volumes }}
          {{- if eq $volume_config.type "configMap" }}
            {{- $configmap_data := index (default (dict) $.configMaps) $volume_name }}
            {{- if $configmap_data }}
              {{- $checksum_key := printf "checksum/configmap-%s" $volume_name }}
              {{- $_ := set $configmap_checksums $checksum_key ($configmap_data | toYaml | sha256sum) }}
            {{- end }}
          {{- end }}
        {{- end }}
      {{- end }}
      {{- $annotations = mergeOverwrite (default (dict) $annotations) (default (dict) $configmap_checksums) }}
      {{- if $annotations }}
      annotations:
        {{- $annotations | toYaml | nindent 8 }}
      {{- end }}
      labels:
        {{- $deployment.labels | toYaml | nindent 8 }}
    spec:
      containers:
        {{- if ($deployment.nginx).enabled }}
        - name: nginx
          securityContext:
            runAsUser: 101
            runAsGroup: 101
            allowPrivilegeEscalation: false
            capabilities:
              drop: ["ALL"]
          image: {{ default "us-west1-docker.pkg.dev/moz-fx-platform-artifacts/platform-dockerhub-cache/nginxinc/nginx-unprivileged:1.29" ($deployment.nginx).image }}
          imagePullPolicy: Always
          lifecycle:
            preStop:
              exec:
                command: ["/bin/bash", "-c", "/bin/sleep 25 && /usr/sbin/nginx -s quit"]
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          resources:
            {{- $cpu := default "50m" ($deployment.nginx.resources).cpu }}
            {{- $memory := default "128Mi" ($deployment.nginx.resources).memory }}
            {{- $resources := dict "requests" (dict "cpu" $cpu "memory" $memory) }}
            {{- include "pod.container.resources" $resources | nindent 12 }}
          readinessProbe:
            {{- $container := dict }}
            {{- if ge (len $deployment.containers) 1 }}
            {{- $container = first $deployment.containers }}
            {{- end }}
            httpGet:
              {{- if (($container.readinessProbe).httpGet).httpHeaders }}
              httpHeaders:
                {{- $container.readinessProbe.httpGet.httpHeaders | toYaml | nindent 16 }}
              {{- end }}
              path: {{ default "/__lbheartbeat__" (($container.readinessProbe).httpGet).path }}
              port: http
            initialDelaySeconds: {{ default 10 ($container.readinessProbe).initialDelaySeconds }}
            periodSeconds: {{ default 6 ($container.readinessProbe).periodSeconds }}
            timeoutSeconds: {{ default 5 ($container.readinessProbe).timeoutSeconds }}
            successThreshold: {{ default 1 ($container.readinessProbe).successThreshold }}
            failureThreshold: {{ default 5 ($container.readinessProbe).failureThreshold }}
          livenessProbe:
            httpGet:
              path: /__nginxheartbeat__
              port: http
            initialDelaySeconds: {{ default 5 ($container.livenessProbe).initialDelaySeconds }}
            periodSeconds: {{ default 6 ($container.livenessProbe).periodSeconds }}
            timeoutSeconds: {{ default 2 ($container.livenessProbe).timeoutSeconds }}
            successThreshold: {{ default 1 ($container.livenessProbe).successThreshold }}
            failureThreshold: {{ default 5 ($container.livenessProbe).failureThreshold }}
          volumeMounts:
            - name: nginx-conf
              mountPath: /etc/nginx/nginx.conf
              subPath: nginx.conf
              readOnly: true
        {{- end }}
        {{- range $container := $deployment.containers }}
        - name: {{ $container.name }}
          image: {{ printf "%s:%s" $container.image $container.tag }}
          imagePullPolicy: Always
          {{- if $container.command }}
          command:
            {{- $container.command | toYaml | nindent 12 }}
          {{- end }}
          {{- if $container.args }}
          args:
            {{- $container.args | toYaml | nindent 12 }}
          {{- end }}
          {{- $otel_container_enabled := and $otel_enabled (not $otel_auto_instrumentation_enabled) (has $container.name $otel_container_names) }}
          {{- if or $container.env $otel_container_enabled }}
          env:
            {{- if $otel_container_enabled }}
            - name: HOST_IP
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: status.hostIP
            {{- end }}
            {{- range $env_var := $container.env }}
            - name: {{ $env_var.name }}
              value: {{ $env_var.value | quote }}
            {{- end }}
          {{- end }}
          {{- if $container.envFrom }}
          envFrom:
            {{- $container.envFrom | toYaml | nindent 12 }}
          {{- end }}
          {{- if $container.ports }}
          ports:
            {{- $container.ports | toYaml | nindent 12 }}
          {{- end }}
          {{- if $container.livenessProbe }}
          livenessProbe:
            {{- $container.livenessProbe | toYaml | nindent 12 }}
          {{- end }}
          {{- if $container.readinessProbe }}
          readinessProbe:
            {{- $container.readinessProbe | toYaml | nindent 12 }}
          {{- end }}
          resources:
            {{- include "pod.container.resources" (default (dict) $container.resources) | nindent 12 }}
          securityContext:
            {{- include "pod.container.securityContext" (default (dict) $container.securityContext) | nindent 12 }}
          {{- if $container.volumes }}
          volumeMounts:
            {{- range $volume := $container.volumes }}
            - name: {{ $volume.name }}
              mountPath: {{ $volume.path }}
              {{- if $volume.key }}
              subPath: {{ $volume.key }}
              {{- end }}
              {{- if eq $volume.type "secret" }}
              readOnly: true
              {{- else if $volume.readOnly }}
              readOnly: {{ $volume.readOnly }}
              {{- end }}
              {{- if not (hasKey $volumes $volume.name) }}
              {{- $_ := set $volumes $volume.name $volume }}
              {{- end }}
            {{- end }}
          {{- end }}
        {{- end }}
      {{- if $deployment.initContainers }}
      initContainers:
        {{- range $container := $deployment.initContainers }}
        - name: {{ $container.name }}
          image: {{ printf "%s:%s" $container.image $container.tag }}
          imagePullPolicy: Always
          {{- if $container.command }}
          command:
            {{- $container.command | toYaml | nindent 12 }}
          {{- end }}
          {{- if $container.args }}
          args:
            {{- $container.args | toYaml | nindent 12 }}
          {{- end }}
          {{- if $container.env }}
          env:
            {{- range $env_var := $container.env }}
            - name: {{ $env_var.name }}
              value: {{ $env_var.value | quote }}
            {{- end }}
          {{- end }}
          {{- if $container.envFrom }}
          envFrom:
            {{- $container.envFrom | toYaml | nindent 12 }}
          {{- end }}
          {{- if $container.ports }}
          ports:
            {{- $container.ports | toYaml | nindent 12 }}
          {{- end }}
          resources:
            {{- include "pod.container.resources" (default (dict) $container.resources) | nindent 12 }}
          {{- if $container.restartPolicy }}
          restartPolicy: {{ $container.restartPolicy }}
          {{- end }}
          securityContext:
            {{- include "pod.container.securityContext" (default (dict) $container.securityContext) | nindent 12 }}
          {{- if $container.volumes }}
          volumeMounts:
            {{- range $volume := $container.volumes }}
            - name: {{ $volume.name }}
              mountPath: {{ $volume.path }}
              {{- if $volume.key }}
              subPath: {{ $volume.key }}
              {{- end }}
              {{- if eq $volume.type "secret" }}
              readOnly: true
              {{- else if $volume.readOnly }}
              readOnly: {{ $volume.readOnly }}
              {{- end }}
              {{- if not (hasKey $volumes $volume.name) }}
              {{- $_ := set $volumes $volume.name $volume }}
              {{- end }}
            {{- end }}
          {{- end }}
        {{- end }}
      {{- end }}
      securityContext:
        {{- $params = dict }}
        {{- if hasKey (default (dict) ($deployment.securityContext).runAsNonRoot) "runAsNonRoot" }}
        {{- $_ := set $params "runAsNonRoot" $deployment.securityContext.runAsNonRoot }}
        {{- end }}
        {{- include "pod.securityContext" $params | nindent 8 }}
      {{- if $deployment.serviceAccount }}
      serviceAccountName: {{ $deployment.serviceAccount }}
      {{- end }}
      {{- if $deployment.terminationGracePeriodSeconds }}
      terminationGracePeriodSeconds: {{ $deployment.terminationGracePeriodSeconds }}
      {{- end }}
      {{- if or ($deployment.nginx).enabled (gt (keys $volumes | len) 0) }}
      {{- $nginx_configmap_name := dict "value" "" }}
      {{- if ($deployment.nginx).enabled }}
        {{- $_ := set $nginx_configmap_name "value" (default (printf "%s-nginx" $deployment.name) ($deployment.nginx).configMap) }}
      {{- end }}
      volumes:
        {{- if ($deployment.nginx).enabled }}
        - name: nginx-conf
          configMap:
            {{- if (hasKey (default (dict) ($deployment).nginx) "configMap") }}
            name: {{ $deployment.nginx.configMap }}
            {{- else }}
            name: {{ $deployment.name }}-nginx
            {{- end }}
        {{- end }}
        {{- range $volume_name, $volume_config := $volumes }}
        {{- /* Skip nginx configmap volume since it's already added as nginx-conf above */}}
        {{- $skip := dict "value" false }}
        {{- if and ($deployment.nginx).enabled (eq $volume_config.type "configMap") }}
          {{- $nginx_name := default (printf "%s-nginx" $deployment.name) ($deployment.nginx).configMap }}
          {{- if eq $volume_name $nginx_name }}
            {{- $_ := set $skip "value" true }}
          {{- end }}
        {{- end }}
        {{- if not $skip.value }}
        - name: {{ $volume_name }}
          {{- if eq $volume_config.type "persistentVolumeClaim" }}
          persistentVolumeClaim:
            claimName: {{ $volume_name }}
          {{- else if eq $volume_config.type "emptyDir" }}
          {{- if or $volume_config.medium $volume_config.sizeLimit }}
          emptyDir:
            {{- if $volume_config.medium }}
            medium: {{ $volume_config.medium }}
            {{- end }}
            {{- if $volume_config.sizeLimit }}
            sizeLimit: {{ $volume_config.sizeLimit }}
            {{- end }}
          {{- else }}
          emptyDir: {}
          {{- end }}
          {{- else }}
          {{- if eq $volume_config.type "configMap" }}
          configMap:
          {{- else if eq $volume_config.type "secret" }}
          secret:
          {{- end }}
            name: {{ $volume_name }}
          {{- end }}
        {{- end }}
        {{- end }}
      {{- end }}
{{- if and ($deployment.nginx).enabled (not ($deployment.nginx).configMap) }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $deployment.name }}-nginx
  labels:
    {{- $deployment.labels | toYaml | nindent 4 }}
data:
  nginx.conf: |
    {{ include "workload.nginx.conf" . | nindent 4 }}
{{- end }}
{{- end }}
{{- end }}
{{- end -}}
