{{- define "mozcloud-workload-stateless-lib.deployment" -}}
{{- if .deployments }}
{{- $deployments := include "mozcloud-workload-stateless-lib.config.deployments" . | fromYaml }}
{{- $files := .Files }}
{{- range $deployment := $deployments.deployments }}
{{- $volumes := dict }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ $deployment.name }}
  labels:
    {{- $deployment.labels | toYaml | nindent 4 }}
  {{- $annotation_params := dict "annotations" (default (dict) $deployment.annotations) "context" ($ | deepCopy) "type" "deployment" }}
  {{- $annotations := include "mozcloud-workload-core-lib.config.annotations" $annotation_params | fromYaml }}
  {{- if $annotations }}
  annotations:
    {{- $annotations | toYaml | nindent 4 }}
  {{- end }}
spec:
  selector:
    matchLabels:
      {{- $deployment.selectorLabels | toYaml | nindent 6 }}
  strategy:
    type: {{ default "RollingUpdate" $deployment.strategy }}
  template:
    metadata:
      {{- /* If auto injection is enabled for OTEL, we should include those annotations */}}
      {{- $otel_annotations := dict }}
      {{- if and (($deployment.otel).autoInstrumentation).enabled (($deployment.otel).autoInstrumentation).language }}
      {{- $container_names := list }}
      {{- range $container := $deployment.containers }}
        {{- $container_names = append $container_names $container.name }}
      {{- end }}
      {{- $otel_annotation_params := dict "containers" $container_names "language" $deployment.otel.autoInstrumentation.language }}
      {{- $otel_annotations = include "mozcloud-workload-core-lib.config.annotations.otel.autoInjection" $otel_annotation_params | fromYaml }}
      {{- end }}
      {{- /* Note: pod annotations will automatically include resource annotations for OTEL */}}
      {{- $annotation_params := dict "annotations" $otel_annotations "context" ($ | deepCopy) "type" "pod" }}
      {{- $annotations := include "mozcloud-workload-core-lib.config.annotations" $annotation_params | fromYaml }}
      {{- if $annotations }}
      annotations:
        {{- $annotations | toYaml | nindent 8 }}
      {{- end }}
      labels:
        {{- $deployment.labels | toYaml | nindent 8 }}
    spec:
      containers:
        {{- if ($deployment.nginx).enabled }}
        - name: nginx
          securityContext:
            runAsUser: 101
            runAsGroup: 101
            allowPrivilegeEscalation: false
            capabilities:
              drop: ["ALL"]
          image: {{ default "us-west1-docker.pkg.dev/moz-fx-platform-artifacts/platform-dockerhub-cache/nginxinc/nginx-unprivileged:1.29" ($deployment.nginx).image }}
          imagePullPolicy: IfNotPresent
          lifecycle:
            preStop:
              exec:
                command: ["/bin/bash", "-c", "/bin/sleep 25 && /usr/sbin/nginx -s quit"]
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          resources:
            {{- $cpu := default "50m" ($deployment.nginx.resources).cpu }}
            {{- $memory := default "128Mi" ($deployment.nginx.resources).memory }}
            {{- $resources := dict "requests" (dict "cpu" $cpu "memory" $memory) }}
            {{- include "mozcloud-workload-core-lib.pod.container.resources" $resources | nindent 12 }}
          readinessProbe:
            httpGet:
              {{- if le (len $deployment.containers) 1 }}
              {{- $container := first $deployment.containers }}
              {{- if (($container.readinessProbe).httpGet).httpHeaders }}
              httpHeaders:
                {{- $container.readinessProbe.httpGet.httpHeaders | toYaml | nindent 16 }}
              {{- end }}
              path: {{ default "/__lbheartbeat__" (($container.readinessProbe).httpGet).path }}
              {{- else }}
              path: /__lbheartbeat__
              {{- end }}
              port: http
            periodSeconds: 6
            timeoutSeconds: 5
            successThreshold: 1
            failureThreshold: 5
            initialDelaySeconds: 10
          livenessProbe:
            httpGet:
              path: /__nginxheartbeat__
              port: http
            initialDelaySeconds: 5
            periodSeconds: 6
            timeoutSeconds: 2
          volumeMounts:
            - name: nginx-conf
              mountPath: /etc/nginx/nginx.conf
              subPath: nginx.conf
              readOnly: true
        {{- end }}
        {{- range $container := $deployment.containers }}
        - name: {{ $container.name }}
          image: {{ printf "%s:%s" $container.image $container.tag }}
          imagePullPolicy: IfNotPresent
          {{- if $container.command }}
          command:
            {{- $container.command | toYaml | nindent 12 }}
          {{- end }}
          {{- if $container.args }}
          args:
            {{- $container.args | toYaml | nindent 12 }}
          {{- end }}
          {{- if $container.env }}
          env:
            {{- range $env_var := $container.env }}
            - name: {{ $env_var.name }}
              value: {{ $env_var.value | quote }}
            {{- end }}
          {{- end }}
          {{- if $container.envFrom }}
          envFrom:
            {{- $container.envFrom | toYaml | nindent 12 }}
          {{- end }}
          {{- if $container.ports }}
          ports:
            {{- $container.ports | toYaml | nindent 12 }}
          {{- end }}
          {{- if $container.livenessProbe }}
          livenessProbe:
            {{- $container.livenessProbe | toYaml | nindent 12 }}
            failureThreshold: 5
            initialDelaySeconds: 10
            periodSeconds: 6
            timeoutSeconds: 5
          {{- end }}
          {{- if $container.readinessProbe }}
          readinessProbe:
            {{- $container.readinessProbe | toYaml | nindent 12 }}
            initialDelaySeconds: 10
            periodSeconds: 6
            timeoutSeconds: 5
          {{- end }}
          resources:
            {{- include "mozcloud-workload-core-lib.pod.container.resources" ($container).resources | nindent 12 }}
          securityContext:
            {{- include "mozcloud-workload-core-lib.pod.container.securityContext" ($container).securityContext | nindent 12 }}
          {{- if $container.volumes }}
          volumeMounts:
            {{- range $volume := $container.volumes }}
            - name: {{ $volume.name }}
              mountPath: {{ $volume.path }}
              {{- if $volume.key }}
              subPath: {{ $volume.key }}
              {{- end }}
              {{- if eq $volume.type "secret" }}
              readOnly: true
              {{- else if $volume.readOnly }}
              readOnly: {{ $volume.readOnly }}
              {{- end }}
              {{- if not (hasKey $volumes $volume.name) }}
              {{- $_ := set $volumes $volume.name $volume }}
              {{- end }}
            {{- end }}
          {{- end }}
        {{- end }}
      securityContext:
        {{- $params := dict }}
        {{- if hasKey (default (dict) ($deployment.securityContext).runAsNonRoot) "runAsNonRoot" }}
        {{- $_ := set $params "runAsNonRoot" $deployment.securityContext.runAsNonRoot }}
        {{- end }}
        {{- include "mozcloud-workload-core-lib.pod.securityContext" $params | nindent 8 }}
      {{- if $deployment.serviceAccount }}
      serviceAccountName: {{ $deployment.serviceAccount }}
      {{- end }}
      {{- if or ($deployment.nginx).enabled (gt (keys $volumes | len) 0) }}
      volumes:
        {{- if ($deployment.nginx).enabled }}
        - name: nginx-conf
          configMap:
            {{- if (hasKey (default (dict) ($deployment).nginx) "configMap") }}
            name: {{ $deployment.nginx.configMap }}
            {{- else }}
            name: {{ $deployment.name }}-nginx
            {{- end }}
        {{- end }}
        {{- range $volume_name, $volume_config := $volumes }}
        - name: {{ $volume_name }}
          {{- if eq $volume_config.type "configMap" }}
          configMap:
          {{- else if eq $volume_config.type "secret" }}
          secret:
          {{- end }}
            name: {{ $volume_name }}
        {{- end }}
      {{- end }}
{{- if and ($deployment.nginx).enabled (not ($deployment.nginx).configMap) }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $deployment.name }}-nginx
  labels:
    {{- $deployment.labels | toYaml | nindent 4 }}
data:
  nginx.conf: |
    {{ include "mozcloud-workload-stateless.nginx.conf" . | nindent 4 }}
{{- end }}
{{- end }}
{{- end }}
{{- end -}}
