{{- define "mozcloud-workload-stateless-lib.deployment" -}}
{{- if .deployments }}
{{- $deployments := include "mozcloud-workload-stateless-lib.config.deployments" . | fromYaml }}
{{- $files := .Files }}
{{- range $deployment := $deployments.deployments }}
{{- $nginx_enabled := false }}
{{- if and ($deployment).nginx "enabled" ($deployment.nginx).enabled }}
{{- $nginx_enabled = true }}
{{- end }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ $deployment.name }}
  labels:
    {{- $deployment.labels | toYaml | nindent 4 }}
  {{- $annotation_params := dict "annotations" (default (dict) $deployment.annotations) "context" ($ | deepCopy) "type" "deployment" }}
  {{- $annotations := include "mozcloud-workload-core-lib.config.annotations" $annotation_params | fromYaml }}
  {{- if $annotations }}
  annotations:
    {{- $annotations | toYaml | nindent 4 }}
  {{- end }}
spec:
  selector:
    matchLabels:
      {{- $deployment.selectorLabels | toYaml | nindent 6 }}
  template:
    metadata:
      {{- /* If auto injection is enabled for OTEL, we should include those annotations */}}
      {{- $otel_annotations := dict }}
      {{- if and (($deployment.otel).autoInstrumentation).enabled (($deployment.otel).autoInstrumentation).language }}
      {{- $container_names := list }}
      {{- range $container := $deployment.containers }}
        {{- $container_names = append $container_names $container.name }}
      {{- end }}
      {{- $otel_annotation_params := dict "containers" $container_names "language" $deployment.otel.autoInstrumentation.language }}
      {{- $otel_annotations = include "mozcloud-workload-core-lib.config.annotations.otel.autoInjection" $otel_annotation_params | fromYaml }}
      {{- end }}
      {{- /* Note: pod annotations will automatically include resource annotations for OTEL */}}
      {{- $annotation_params := dict "annotations" $otel_annotations "context" ($ | deepCopy) "type" "pod" }}
      {{- $annotations := include "mozcloud-workload-core-lib.config.annotations" $annotation_params | fromYaml }}
      {{- if $annotations }}
      annotations:
        {{- $annotations | toYaml | nindent 8 }}
      {{- end }}
      labels:
        {{- $deployment.labels | toYaml | nindent 8 }}
    spec:
      containers:
        {{- range $container := $deployment.containers }}
        - name: {{ $container.name }}
          image: {{ printf "%s:%s" $container.image $container.tag }}
          imagePullPolicy: IfNotPresent
          {{- if $container.command }}
          command:
            {{- $container.command | toYaml | nindent 12 }}
          {{- end }}
          {{- if $container.args }}
          args:
            {{- $container.args | toYaml | nindent 12 }}
          {{- end }}
          {{- if $container.env }}
          env:
            {{- range $env_var := $container.env }}
            - name: {{ $env_var.name }}
              value: {{ $env_var.value | quote }}
            {{- end }}
          {{- end }}
          {{- if $container.envFrom }}
          envFrom:
            {{- $container.envFrom | toYaml | nindent 12 }}
          {{- end }}
          ports:
            {{- $container.ports | toYaml | nindent 12 }}
          {{- if $container.livenessProbe }}
          livenessProbe:
            {{- $container.livenessProbe | toYaml | nindent 12 }}
            failureThreshold: 5
            initialDelaySeconds: 10
            periodSecondS: 6
            timeoutSeconds: 5
          {{- end }}
          {{- if $container.readinessProbe }}
          readinessProbe:
            {{- $container.readinessProbe | toYaml | nindent 12 }}
            initialDelaySeconds: 10
            periodSecondS: 6
            timeoutSeconds: 5
          {{- end }}
          resources:
            {{- include "mozcloud-workload-core-lib.pod.container.resources" ($container).resources | nindent 12 }}
          securityContext:
            {{- include "mozcloud-workload-core-lib.pod.container.securityContext" ($container).securityContext | nindent 12 }}
        {{- end }}
        {{- if $nginx_enabled }}
        - name: nginx
          securityContext:
            runAsUser: 101
            runAsGroup: 101
            allowPrivilegeEscalation: false
            capabilities:
              drop: ["ALL"]
          {{- if hasKey ($deployment).nginx "image" }}
          image: {{ $deployment.nginx.image }}
          {{- else }}
          image: "us-west1-docker.pkg.dev/moz-fx-platform-artifacts/platform-dockerhub-cache/nginxinc/nginx-unprivileged:1.29"
          {{- end }}
          imagePullPolicy: IfNotPresent
          lifecycle:
            preStop:
              exec:
                command: ["/bin/bash", "-c", "/bin/sleep 25 && /usr/sbin/nginx -s quit"]
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          resources:
            requests:
              memory: 15Mi
              cpu: 50m
            limits:
              memory: 256Mi
              cpu: 100m
          readinessProbe:
            httpGet:
              path: /__lbheartbeat__
              port: http
            periodSeconds: 6
            timeoutSeconds: 5
            successThreshold: 1
            failureThreshold: 5
            initialDelaySeconds: 10
          livenessProbe:
            httpGet:
              path: /__nginxheartbeat__
              port: http
            initialDelaySeconds: 5
            periodSeconds: 6
            timeoutSeconds: 2
          volumeMounts:
            - name: nginx-conf
              mountPath: /etc/nginx/nginx.conf
              subPath: nginx.conf
              readOnly: true
        {{- end }}
      securityContext:
        {{- $params := dict }}
        {{- if hasKey ($deployment.securityContext).runAsNonRoot "runAsNonRoot" }}
        {{- $_ := set $params "runAsNonRoot" $deployment.securityContext.runAsNonRoot }}
        {{- end }}
        {{- include "mozcloud-workload-core-lib.pod.securityContext" $params | nindent 8 }}
      {{- if $deployment.serviceAccount }}
      serviceAccountName: {{ $deployment.serviceAccount }}
      {{- end }}
      {{- if $nginx_enabled }}
      volumes:
        - name: nginx-conf
          configMap:
            {{- if (hasKey ($deployment).nginx "configMap") }}
            name: {{ $deployment.nginx.configMap }}
            {{- else }}
            name: {{ $deployment.name }}-nginx
      {{- end }}
{{- if and $nginx_enabled (not (hasKey ($deployment).nginx "configMap")) }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $deployment.name }}-nginx
  labels:
    {{- $deployment.labels | toYaml | nindent 4 }}
data:
  nginx.conf: |
    {{ include "mozcloud-workload-stateless.nginx.conf" . | nindent 4 }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
{{- end -}}
