name: pre-commit

on:
  pull_request: {}
  push:
    branches: main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v5
      - name: Setup Python
        uses: actions/setup-python@v3
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
      - name: Install Helm unittest
        run: helm plugin install https://github.com/helm-unittest/helm-unittest.git #--verify=false
        shell: bash
      - name: Update dependencies
        run: make update-dependencies
        shell: bash
      - uses: actions/cache@v4
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-4|${{ env.pythonLocation }}|${{ hashFiles('.pre-commit-config.yaml') }}
      - run: uvx pre-commit install && uvx pre-commit install-hooks
        shell: bash
      - run: uvx pre-commit run --show-diff-on-failure --color=always --all-files
        shell: bash
